# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
*.log

# Environment
.env
.env.local

# PyCharm/VSCode
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Migrations
*/migrations/
*.sqlite3
